name: Deploy Docs to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Deploy to GitHub Pages
        uses: bluefireteam/flutter-gh-pages@v9
        with:
          workingDir: docs
          baseHref: /shadcn_flutter_kit/
          webRenderer: canvaskit
